@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  font-family:'Roboto', sans-serif
}

.header {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  margin: 16px;
  padding: 0;
}

.links {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  margin: 0px 16px;
}

.hero {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding: 24px 10%;
}

.hero-img {
  flex: 1;
  width: 400px;
  height: 250px;
  background-color: gray;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  flex: 1;
}

.hero-main {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.hero-secondary {
  font-size: 18px;
}

.btn-signup {
  color: white;
  background-color: #3882F6;
  border: 0;
  padding: 4px 24px;
  border-radius: 5px;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20%;
  margin-bottom: 48px;
  color: #1F2937;
}

#info-title {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}
.info-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.infopanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  flex: 1;
  text-align: center;
}

.infopanel p {
  margin-top: 8px;
}
.info-img {
  width: 150px;
  height: 150px;
  border-radius: 16px;
  border: 4px solid #3882F6;
}

.testimonial {
  background-color: #E5E7EB;
  color: #1F2937;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 20%;
}
.quote {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
}
.author {
  font-weight: bold;
  text-align: right;
  padding-top: 16px;
}

.footer,
.header,
.hero {
  background-color: #1F2937;
  color: #E5E7EB;
}

.footer {
  text-align: center;
}